<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="https://d1jfzjx68gj8xs.cloudfront.net/items/1J0Y1N1I441v1E2k3e2W/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is site uses data from <a href="https://darksky.net">darksky.net</a> and <a href="https://www.mapbox.com">mapbox.com</a>.</p>
            <img class="portrait" src="/img/pic.jpg" alt="mello mello">
        </div>
        {{>footer}}
    </body>
</html>