<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="https://d1jfzjx68gj8xs.cloudfront.net/items/1J0Y1N1I441v1E2k3e2W/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
</html>