<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="https://d1jfzjx68gj8xs.cloudfront.net/items/1J0Y1N1I441v1E2k3e2W/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to see weather.</p>
            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            <p class='result'></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>